/* Theme */

.m-font{font-size: 50px;}
.s-font{font-size: 20px;}

body {
  font-family: 'DM Sans', sans-serif;
}

.area-padding-section{
    padding: 200px 0px 200px 0px;
}

.area1-img-back {
  background-color: #FFF;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  width: 100%;               
  aspect-ratio: 1 / 1;        
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.area1-button-discover{
    background: #FF3366;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.area2-background{
    background: linear-gradient(135deg, #A323C2, #6C21B4 30%, #001B52 70%, #007BFF);
}
.area2-text-content{
    color: #FFF;
}
.area2-text-content-h1-1{
    padding: 120px 0px 0px 0px;
}
/* .area2-text-content-h1-2{
    padding: 0px 50px 0px 0px;
} */
.area2-btn-get{
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #FFF;
    font-weight: bold;
}




